<p>
    Prototype developed as part of the <b>FLEXINET project</b> “Intelligent Systems Configuration Services for Flexible Dynamic Global Production Networks”.
    <br />
    Funded by the European Union’s <b>Seventh Framework Programme</b> FP7-2013-NMP-ICT-FOF (RTD) under grant agreement no 608627.
</p>
<p>
    Institution: <b>Coventry University</b> (<a href="http://www.coventry.ac.uk">Website</a>)
</p>
<p>
    Software developer: <b>Dr Ali Niknejad</b> (<a href="mailto:aliniknejad@gmail.com">Email</a> - <a href="http://aliniknejad.com">Website</a>)
</p>
<p>
    Under supervision of: <b>Prof Dobrila Petrovic</b> (<a href="mailto:d.petrovic@coventry.ac.uk">Email</a>) and <b>Prof Keith Popplewell</b> (<a href="mailto:k.popplewell@coventry.ac.uk">Email</a>)
</p>
<h2>Open Source Components</h2>

<p><a href="http://entityframework.codeplex.com/">Microsoft Entity Framework</a> (Apache License 2.0)</p>
<p><a href="https://aspnetwebstack.codeplex.com/">Microsoft ASP.NET MVC</a> (Apache License 2.0)</p>
<p><a href="http://numerics.mathdotnet.com/">Math.NET</a> (MIT/X11 License)</p>
<p><a href="http://www.newtonsoft.com/json">Newtonsoft Json.NET</a> (MIT)</p>